<div class="table">
    <div class="container">
        <mat-card style="margin-bottom: 10px;">
            <mat-card-content>
                <table mat-table [dataSource]="dataSource" style="width: 100%;">

                    <ng-container matColumnDef="idSolicitacao">
                        <th mat-header-cell *matHeaderCellDef>Número</th>
                        <td mat-cell *matCellDef="let solicitacao">
                            {{ solicitacao.id }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="bairro">
                        <th mat-header-cell *matHeaderCellDef>Bairro</th>
                        <td mat-cell *matCellDef="let solicitacao">
                            {{ solicitacao.bairro }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="rua">
                        <th mat-header-cell *matHeaderCellDef>Rua</th>
                        <td mat-cell *matCellDef="let solicitacao">
                            {{ solicitacao.rua }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="acoes">
                        <th mat-header-cell *matHeaderCellDef>Ações</th>
                        <td mat-cell *matCellDef="let solicitacao">
                            <button mat-button class="btn-acoes" (click)="detalhes(solicitacao)">Detalhes</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>