<div class="table">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="pesquisaRoteiro">
                <div class="col-md-12">
                    <div style="text-align: center;">
                        <mat-form-field class="col-md-4" style="margin: 30px;">
                            <input name="nome" formControlName="nome" type="text" maxlength="100" matInput placeholder="Nome">
                        </mat-form-field>
                        <mat-form-field class="col-md-4" style="margin: 30px;">
                            <input name="campus" formControlName="campus" matInput placeholder="Campus">
                        </mat-form-field>
                        <mat-form-field class="col-md-2" style="margin: 30px;">
                            <input name="roteiro" formControlName="roteiro" matInput placeholder="Roteiro">
                        </mat-form-field>
                    </div>
                    <div style="text-align: center;">
                        <button class="bot-azul" (click)="search()" title="Pesquisar" mat-raised-button>Pesquisar</button>
                        <button class="bot-azul" (click)="openDialog()" title="Criar novo" style="margin-left: 5px;" mat-raised-button>Novo</button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>

<div class="table">
    <div class="container">
        <mat-card style="margin-bottom: 10px;">
            <mat-card-content>
                <table mat-table [dataSource]="dataSource" style="width: 100%;">

                    <ng-container matColumnDef="roteiro">
                        <th mat-header-cell *matHeaderCellDef>Roteiro</th>
                        <td mat-cell *matCellDef="let roteiro">
                            {{ roteiro.roteiro }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="nome">
                        <th mat-header-cell *matHeaderCellDef>Nome</th>
                        <td mat-cell *matCellDef="let roteiro">
                            {{ roteiro.nome }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="campus">
                        <th mat-header-cell *matHeaderCellDef>Campus</th>
                        <td mat-cell *matCellDef="let roteiro"> {{ roteiro.campus }} </td>
                    </ng-container>

                    <ng-container matColumnDef="turno">
                        <th mat-header-cell *matHeaderCellDef>Turno</th>
                        <td mat-cell *matCellDef="let roteiro">
                            {{ roteiro.turno }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="horario">
                        <th mat-header-cell *matHeaderCellDef>Horário</th>
                        <td mat-cell *matCellDef="let roteiro">
                            {{ roteiro.horario }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="assentosDisp">
                        <th mat-header-cell *matHeaderCellDef>Assentos Disponíveis</th>
                        <td mat-cell *matCellDef="let roteiro">
                            {{ roteiro.assentosDisponiveis }}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #paginator [length]="10" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>
</div>