.bot-login {
    background: #007390;
    color: white;
    margin-top: 20px;
}

.btn-nao {
    margin: 10px 5px !important;
    border-radius: 0.25rem;
    white-space: nowrap;
    background: white;
    border: white;
    color: black;
}

.center {
    display: flex;
    justify-content: center;
}


.mat-header-cell,
.mat-cell {
    text-align: center;
    min-width: 8.25em;
}

.titulo {
    width: 100%;
    height: 40px;
    MARGIN-BOTTOM: 5%;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    color: #006985;

}