<div class="form-container">
    <form [formGroup]="instituicao" style="margin-top: 50px;">

        <mat-form-field class="example-full-width">
            <input matInput required formControlName="nome" maxlength="80" placeholder="Nome da Instituição">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput required formControlName="bairro" maxlength="30" placeholder="Bairro">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput required formControlName="rua" maxlength="30" placeholder="Rua">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput formControlName="numero" type="number" maxlength="11" placeholder="Número">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput required formControlName="telefone" maxlength="35" placeholder="Telefones">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input matInput required formControlName="diretor" maxlength="40" placeholder="Nome Diretor(a)">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-select placeholder="Segmentos" multiple formControlName="segmento">
                <mat-option *ngFor="let segmento of segmentos" [value]="segmento.value">
                    {{ segmento.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-select placeholder="Turnos" multiple formControlName="turno">
                <mat-option *ngFor="let turno of turnos" [value]="turno.value">
                    {{ turno.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-select placeholder="Integral" formControlName="integral">
                <mat-option *ngFor="let integral of integrais" [value]="integral.value">
                    {{ integral.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-select placeholder="Multi Funcional" formControlName="multiFuncional">
                <mat-option *ngFor="let funcional of funcionais" [value]="funcional.value">
                    {{ funcional.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </form>
    <div style="text-align: center;">
        <button class="bot-cadastrar" (click)="cadastrar()" color="primary" mat-button>Cadastrar</button>
    </div>
</div>