<div class="form-container">
    <form [formGroup]="telefone" style="margin-top: 50px;">

        <div class="row">
            <div class="col-md-12">
                <mat-form-field class="example-full-width">
                    <input matInput required formControlName="nome" maxlength="30" placeholder="Nome">
                    <mat-error *ngIf="telefone.get('nome').invalid">
                        <strong>Campo obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-12">
                <mat-form-field class="example-full-width">
                    <input #maskedTel1 matInput required formControlName="telefone1" maxlength="16" placeholder="Telefone principal" mask="{{ maskTel1 }}" (input)="changeMask(1)">
                    <mat-error *ngIf="telefone.get('telefone1').invalid">
                        <strong>Campo obrigatório</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-12">
                <mat-form-field class="example-full-width">
                    <input #maskedTel2 matInput formControlName="telefone2" maxlength="16" placeholder="Telefone 2" mask="{{ maskTel2 }}" (input)="changeMask(2)">
                </mat-form-field>
            </div>

            <div class="col-md-12">
                <mat-form-field class="example-full-width">
                    <input #maskedTel3 matInput formControlName="telefone3" maxlength="16" placeholder="Telefone 3" mask="{{ maskTel3 }}" (input)="changeMask(3)">
                </mat-form-field>
            </div>

        </div>

    </form>
    <div style="text-align: center;">
        <button class="bot-cadastrar" (click)="cadastrar()" color="primary" mat-button>Cadastrar</button>
    </div>
</div>