<div class="grafico">
    <div style="display: block;">
        <div class="titulo">Total de usuários / acadêmicos</div>
        <canvas baseChart #grafico1ID="base-chart" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
    </div>
</div>