<mat-toolbar class="header">
    <img style="height: 100%;" src="../../../../assets/img/icon_silvanplay.png">
    <div style="color: white; margin-left: 20px; font-size: 50px;">SilvanPlay</div>
    <div class="header">
        <div fxShow="true" fxHide.lt-md *ngIf="usuario != null">
            <a href="/home" mat-button class="item-menu">Home</a>
            <button mat-button [matMenuTriggerFor]="gerenciar" class="item-menu">Gerenciar</button>
            <mat-menu #gerenciar="matMenu" [overlapTrigger]="false">
                <div style="display: grid;">
                    <button *ngIf="perfilSolicitacao" mat-button (click)="telaNavigate('gerencia-solicitacoes')">Solicitações</button>
                    <button *ngIf="perfilSolicitacao" mat-button (click)="telaNavigate('gerencia-roteiro')">Roteiros</button>
                </div>

            </mat-menu>
            <button mat-button [matMenuTriggerFor]="cadastros" class="item-menu">Cadastrar</button>
            <mat-menu #cadastros="matMenu" [overlapTrigger]="false">
                <div style="display: grid;">
                    <button *ngIf="perfilEducacao" mat-button (click)="telaNavigate('cadastra-instituicao')">Instituição de ensino</button>
                    <button *ngIf="perfilTelefone" mat-button (click)="telaNavigate('cadastra-telefone')">Telefones Úteis</button>
                    <button *ngIf="perfilMaster" mat-button (click)="telaNavigate('cadastra-administrador')">Cadastra Administrador</button>
                </div>
            </mat-menu>
            <a href="/login" mat-button (click)="sair()" class="item-menu">Sair</a>
        </div>
    </div>
</mat-toolbar>