@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'node_modules/angular2-toaster/src/toaster.scss';
body,
html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Roboto;
    * {
        outline: none;
    }
    .text-center {
        text-align: center;
    }
}